.invert{
    filter: invert(1);
}
.black{
    background-color: #1a1a1a;
    color: white;
}

.light-black{
        background-color: rgb(35, 35, 35);

}
/* Works in Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #444; /* Scrollbar color */
  border-radius: 10px;
  border: 2px solid #1a1a1a; /* Creates spacing effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* Hover color */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 #1a1a1a;
}
